#TODO: use Hetzner dns api for dnschallange, once lego 3.7.0 is included in newest traefik
version: '3.4'
services:
  traefik:
    image: traefik:{{ env.versions[service.name] }}
    ports:
      - 80:80
      - 443:443
    networks:
      - {{ env.traefik_network }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ docker_service_dir }}/{{env.stack}}/{{ service.name }}/acme.json:/acme.json"
    command:
      - "--api"
      - "--entrypoints=Name:http Address:0.0.0.0:80 Redirect.EntryPoint:https"
      - "--entrypoints=Name:https Address:0.0.0.0:443 TLS"
      - "--defaultentrypoints=http,https"
      - "--docker"
      - "--docker.swarmmode"
      - "--debug"
      - "--loglevel=warn"
      - "--acme"
      - "--acme.email=postremus1996@googlemail.com"
      - "--acme.storage=/acme.json"
      - "--acme.onHostRule=true"
      - "--acme.httpchallenge"
      - "--acme.httpchallenge.entrypoint=http"
      #- "--acme.dnschallenge=true"
      #- "--acme.dnschallenge.provider=hetzner"
      - "--acme.entrypoint=https"
      - "--acme.acmelogging"
    environment:
      HETZNER_AUTH_TOKEN_FILE: /run/secrets/HETZNER_AUTH_TOKEN
    secrets:
     - HETZNER_AUTH_TOKEN
    deploy:
      labels:
        - "traefik.docker.network={{ env.traefik_network }}"
        - "traefik.frontend.rule={{ env.frontend_rules.traefik }}"
        - "traefik.backend=traefik-dashboard"
        - "traefik.port=8080"
        - "traefik.frontend.headers.STSSeconds=315360000"
        - "traefik.frontend.headers.STSPreload=true"
      placement:
        constraints:
          - node.role == manager
secrets:
  HETZNER_AUTH_TOKEN:
    external: true
networks:
  {{ env.traefik_network }}:
    external:
      name: {{ env.traefik_network }}