version: "3.3"
services:
  cadvisor:
    image: {{ service.image }}:{{ env.versions[service.name] }}
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    command:
      - "--docker_only"
      - "--disable_metrics=disk,tcp,udp"
    networks:
      - "common_dev_prometheus"
      - "common_prod_prometheus"
    ports:
      - "9080:8080"
    deploy:
      mode: global
networks:
  common_dev_prometheus:
    external: true
  common_prod_prometheus:
    external: true