version: "3.3"
services:
  cadvisor:
    image: {{ service.image }}:{{ env.versions[service.name] }}
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    command:
      - "--docker_only"
      - "--disable_metrics=disk,tcp,udp"
    ports:
      - "9080:8080"
    deploy:
      mode: global