version: '3.4'
services:
  {{ service.name }}:
    image: "{{ service.image }}:{{ env.versions[service.name] }}"
    networks:
      - {{ env.traefik_network }}
    ports:
      - {{ service.internal_port }}
{% if service.volumes is defined%}
    volumes:
{% for volume in service.volumes %}
      - type: {{ volume.type }}
        source: {{ volume.source }}
        target: {{ volume.target }}
{% endfor %}
{% endif %}
{% if service.env_vars is defined%}
    environment:
{% for env_var in service.env_vars %}
      - {{ env_var }}
{% endfor %}
{% endif %}

{% if service.secrets is defined%}
    secrets:
{% for secret in service.secrets %}
      - {{ secret }}
{% endfor %}
{% endif %}

    deploy:
{% if env.replicas[service.name] is defined %}
      replicas: {{ env.replicas[service.name] }}
{% else %}
      mode: global
{% endif %}
      placement:
        constraints:
          - "node.labels.environment == {{ env.name }}"
{% if service.constraints is defined %}
{% for constraint in service.constraints %}
          - "{{ constraint }}"
{% endfor %}
{% endif %}
{% if service.labels is defined%}
      labels:
{% for label in service.labels %}
        - "{{ label }}"
{% endfor %}
{% endif %}

{% if service.named_volumes is defined %}
volumes:
{% for volume in service.named_volumes %}
  {{ volume.name }}:
    driver: {{ volume.driver }}
{% endfor %}
{% endif %}

networks:
  {{ env.traefik_network }}:
    external:
      name: {{ env.traefik_network }}

{% if service.secrets is defined%}
secrets:
{% for secret in service.secrets %}
  {{ secret }}:
    external: true
{% endfor %}
{% endif %}
