version: '3.4'
services:
  {{ service.name }}:
    image: "{{ service.image }}:{{ service.tag }}"
    networks:
      - traefik
    volumes:
{% if service.volumes is defined%}
{% for volume in service.volumes %}
        - type: {{ volume.type }}
          source: {{ volume.source }}
          target: {{ volume.target }}
{% endfor %}
{% endif %}
    deploy:
      replicas: {{ service.replicas | default(2) }}
      placement:
        constraints:
{% if service.constraints is defined %}
{% for constraint in service.constraints %}
          - "{{ constraint }}"
{% endfor %}
{% else %}
          - node.role == worker
{% endif %}
      labels:
{% if 'secure' in service.features %}
        - traefik.frontend.headers.STSSeconds=315360000
        - traefik.frontend.headers.STSPreload=true
{% endif %}
{% for label in service.labels %}
        - "{{ label }}"
{% endfor %}

volumes:
{% if service.named_volumes is defined %}
{% for volume in service.named_volumes %}
  {{ volume.name }}:
    driver: {{ volume.driver }}
{% endfor %}
{% endif %}

networks:
  traefik:
    driver: overlay
